#root {
  /* background: var(--primary-color); */
  width: 100%;
  min-height: 100vh;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 767px;
  margin: 40px auto;
}

.list-container h1 {
  font-size: 18px;
}
.item {
  padding: 20px 20px 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px gray;
  font-size: 18px;
  position: relative;
  transition: all ease-in-out 0.4s;
}
/* .item:hover {
  transform: scale(1.02);
} */

.title {
  margin: 0px;
  font-size: 14px;
  text-decoration: none;
  min-height: 35px;
  display: inline-block;
}
/* home page */

.icons {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
/* single post */

.title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-div .title {
  font-weight: 700;
  font-size: 18px;
}
.img-div {
  text-align: right;
}

.img-div img {
  width: 100%;
  height: auto;
}

/* Header  */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.fav-count {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.add-link {
  font-size: 15px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 1px 1px 5px lightgray;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  transition: all ease-in-out 0.4s;
}
.add-link:hover {
  transform: scale(1.02);
}
.add-link:hover .add-icon {
  transform: rotate(360deg);
}
.add-link .add-icon {
  font-size: 24px;
  transition: all ease-in-out 1s;
}

.count {
  position: absolute;
  top: -8px;
  padding: 0px 4px;
  border-radius: 100%;
  right: -5px;
  background: red;
  color: white;
  font-size: 11px;
}

/* Add Component */

.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.field-container input {
  padding: 10px;
}
.field-container button {
  margin-top: 20px;
  padding: 10px;
}
